<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myappgen7to8">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/user_ngo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAppgen7to8">
        <activity
            android:name=".MyTabActivity"
            android:exported="true" />
        <activity
            android:name=".TabActivity"
            android:exported="true"
            android:label="@string/title_activity_tab"
            android:theme="@style/Theme.MyAppgen7to8.NoActionBar" />
        <activity
            android:name=".BottomActivity"
            android:exported="true" />
        <activity
            android:name=".MenuActivity"
            android:exported="true" />
        <activity
            android:name=".B_Activity"
            android:exported="true" />
        <activity
            android:name=".A_Activity"
            android:exported="true" />
        <activity
            android:name=".CustomListViewActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity"
            android:exported="true" />
        <activity
            android:name=".WebviewActivity"
            android:exported="true" />
        <activity
            android:name=".SimpleGidviewActivity"
            android:exported="true" />
        <activity
            android:name=".SimpleListviewActivity"
            android:exported="true" />
        <activity
            android:name=".SpinnerActivity"
            android:exported="true" />
        <activity
            android:name=".DateTimeActivity"
            android:exported="true" />
        <activity
            android:name=".AlertActivity"
            android:exported="true" />
        <activity
            android:name=".SeekbarRatingbarActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ImagePickActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".LumiaActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>